AWSTemplateFormatVersion: "2010-09-09"

Description: Certificate stack for React Slingshot demo

Parameters:
  DomainName:
    Type: String
    AllowedPattern: (?!-)[a-zA-Z0-9-.]{1,63}(?<!-)
  AlternativeDomainNames:
    Type: CommaDelimitedList

Resources:
  ReactSlingshotDomainCertificate:
    Type: "AWS::CertificateManager::Certificate"
    Properties:
      DomainName: !Join [ ".", [ "*", !Ref DomainName ] ]
      SubjectAlternativeNames: !Ref AlternativeDomainNames

Outputs:
  ReactSlingshotDomainCertificateArn:
    Description: React Slingshot Certificate ARN
    Value: !Ref ReactSlingshotDomainCertificate
    Export:
      Name: ReactSlingshotDomainCertificate
